h1 {
    font-family: Perpetua;
}

body {
    font-family: Perpetua;
    font-size: large;
    color: #F5F5F5;
    background-color: #070047;
}

td {
    font-family: Perpetua;
    font-size: large;
}

textarea {
    color: #3ADF00;
    background-color: #708090;
}

tr:nth-of-type(odd) {
    background-color: #07011a;
}

/* unvisited link */
a:link {
    color: lightgreen;
}

/* visited link */
a:visited {
    color: darkgray;
}

/* mouse over link */
a:hover {
    color: orange;
}

/* selected link */
a:active {
    color: lightblue;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
